.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 239px;
  height: 307px;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 239px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 11px 16px;
  height: 100px;
}

.card-title {
  font-size: 15px;
  color: #1b2b41;
  font-weight: bold;
  font-family: Open Sans;
}

.card-desc-text {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  opacity: 0.6;
  color: #1b2b41;
}

.card-desc-text-bold {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.6;
  color: #1b2b41;
}

.card-desc-container {
  display: flex;
  justify-content: space-between;
}

.carousel .slide {
  text-align: start !important;
}
