.rejoin-text {
  color: #ff8200;
  font-size: 40px;
  font-family: Insignia;
  text-align: center;
}

.rejoin-text2 {
  display: flex;
  justify-content: center;
  color: #ff8200;
  font-size: 20px;
  font-family: Insignia;
  text-align: center;
  margin-top: 15px;
}

.text-wrapper-quality {
  text-align: center;
  width: 50%;
  color: #1b2b41;
  font-size: 15px;
  font-family: Open Sans;
}

.quality-text2 {
  display: flex;
  justify-content: center;
  color: #1b2b41;
  font-size: 15px;
  font-family: Open Sans;
  text-align: center;
  margin-top: 15px;
}

.quality-text-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-border {
  border-radius: 20px;
}

.quality-img {
  display: flex;
  justify-content: center;

  position: relative;
}

.bg-text {
  width: 270px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-family: Open Sans;
  color: white;
  padding: 20px;
  flex-direction: column;
}

.bg-text2 {
  width: 270px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 15px;
  font-family: Open Sans;
  padding: 20px;
  flex-direction: column;
  padding-left: 176px;
}
.quality-text3 {
  display: flex;
  justify-content: center;
  color: #ff8200;
  font-size: 25px;
  font-family: Insignia;
  text-align: center;
  margin-top: 15px;
}

.quality-img-bottom-text {
  margin-top: 130px;
}

.quality-background-img1 {
  background-image: url("../assets/quality-background-img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quality-back-img05 {
  background-image: url("../assets/quality-img5.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}

.image-human {
  position: absolute;
  top: 24%;
}

.quality-back-001 {
  background-image: url("../assets/quality-img6.svg");
  background-repeat: no-repeat;
  height: 392px;
  width: 531px;
  margin-top: 70px;
}

.quality-back-002 {
  background-image: url("../assets/quality-img7.svg");
  background-repeat: no-repeat;
  height: 410px;
  width: 531px;
  margin-top: 150px;
}

.border-margin {
}
.quality-colm {
  display: flex;
  justify-content: space-between;
}

.quality-text4 {
  color: #ff8200;
  font-size: 25px;
  font-family: Insignia;
}

.quality-text5 {
  display: flex;
  justify-content: center;
  color: #1b2b41;
  font-size: 15px;
  font-family: Open Sans;
  text-align: center;
  margin-top: 15px;
  width: 70%;
}

.quality-text6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.align-text4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quality-video-div {
  background-color: #f3f3f3;
  height: 556px;
  z-index: 1;
}

.line1 {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #707070;
  -webkit-transform: translateY(234px) translateX(23px) rotate(20deg);
  position: absolute;
}
.line2 {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #707070;
  -webkit-transform: translateY(187px) translateX(5px) rotate(-20deg);
  position: absolute;
}

.video-icon {
  top: 3277px;
  left: 620px;
  width: 41px;
  height: 48px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
}

.name-text {
  color: #ff8200;
  font-size: 30px;
  font-family: Insignia;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.quality-img-group {
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
  padding-top: 150px;
}

.quality-img7 {
  margin-top: 75px;
  margin-left: -75px;
}

.quality-img10 {
  margin-top: 130px;
  margin-right: -200px;
}

.border-bottom-img-align {
  width: 100%;
}
