.rejoin-text {
  color: #ff8200;
  font-size: 40px;
  font-family: Insignia;
  text-align: center;
}

.rejoin-text1 {
  display: flex;
  justify-content: center;
  color: #ff8200;
  font-size: 20px;
  font-family: Insignia;
  text-align: center;
  margin-top: 15px;
}

.rejoin-text2 {
  display: flex;
  justify-content: center;
  color: #1b2b41;
  font-size: 15px;
  font-family: Open Sans;
  text-align: center;
  margin-top: 15px;
}

.text-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-border {
  border-radius: 20px;
}

.quality-img {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.rejoin-text3 {
  display: flex;
  justify-content: center;
  color: #ff8200;
  font-size: 25px;
  font-family: Insignia;
  text-align: center;
  margin-top: 15px;
}

.img-bottom-text {
  margin-top: 130px;
}

.quality-background-img1 {
  background-image: url("../assets/quality-background-img1.png");
  background-repeat: no-repeat;
  height: 600px;
}

.quality-back-img05 {
  background-image: url("../assets/quality-img5.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}

.quality-back-001 {
  background-image: url("../assets/quality-img6.svg");
  background-repeat: no-repeat;
  height: 300px;
}

.border-margin {
  margin-top: 425px;
}
.quality-colm {
  display: flex;
  justify-content: space-between;
}

.quality-text4 {
  color: #ff8200;
  font-size: 25px;
  font-family: Insignia;
}

.quality-text5 {
  display: flex;
  justify-content: center;
  color: #1b2b41;
  font-size: 15px;
  font-family: Open Sans;
  text-align: center;
  margin-top: 15px;
  width: 70%;
}

.quality-text6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.align-text4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quality-video-div {
  background-color: #f3f3f3;
  height: 556px;
  z-index: 1;
}

.line1 {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #707070;
  -webkit-transform: translateY(234px) translateX(23px) rotate(20deg);
  position: absolute;
}
.line2 {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #707070;
  -webkit-transform: translateY(187px) translateX(5px) rotate(-20deg);
  position: absolute;
}

.video-icon {
  top: 3277px;
  left: 620px;
  width: 41px;
  height: 48px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
}
