.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/footer-img.png");
  background-size: cover;

  height: 180px;
  margin-top: -100px;

  position: relative;
}

.align-logos {
  margin-top: 5%;

  opacity: 0.8;
}

.footer-text1 {
  font-size: 14px;
  color: #ffffff;
  font-family: Insignia;
}

.footer-text2 {
  font-size: 12px;
  color: #ffffff;
  font-family: Open Sans;
  opacity: 0.5;
  margin-top: 5px;
}

@media (max-width: 480px) {
  .app-footer {
    display: none;
  }
}
