.nav {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  justify-content: space-between;
  
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav-logo{
  position: fixed;
  z-index: 9999;
}
.nav-tagline {
  font-style: italic;
  font-size: 16px;
  color: #1b2b41;
  margin-left: 182px;
}

.nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.nav-lang {
  display: flex;
  align-items: center;
}

.nav-fr {
  color: #c94b32;
  cursor: pointer;
}

.nav-seprator {
  width: 1px;
  height: 20px;
  background-color: #c94b32;
  margin: 0px 8px;
}

.nav-eng {
  color: #c94b32;
  opacity: 0.5;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.menu-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #ff8200;
  font-family: Open Sans;
}

@media  (max-width: 1024px) {
  .nav-tagline {
    display: none;
  }

  .nav-lang {
    display: none;
  }

  .nav__right {
    width: unset;
  }
}
